/node_modules
/public/hot
/public/storage
/public/images/foto-profil/*.jpg
/public/images/foto-profil/*.jpeg
/public/images/foto-profil/*.png
/public/files/ktp/*.pdf
/public/files/sk-dosen/*.pdf
/public/files/sk-pekerti/*.pdf
/public/files/berkas-tugas/*.pdf
/public/files/tugas/*.pdf
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
