/node_modules
/public/hot
/public/storage
/public/images/foto-profil
/public/files/ktp
/public/files/sk-dosen
/public/files/sk-pekerti
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
